<h2>Editar Postagens:</h2>
<hr>
<a href="/admin/postagens/ad"><button class="btn btn-success">Nova postagem</button></a>

{{#each rel_pos}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <P>Descrição: {{descricao}}</P>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-4">Deletar postagem</button></a>
        </div>    
    </div>
{{else}}
    <p>Nenhuma postagem registrada!</p>
{{/each}}